nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #99bbc8;
}

nav a {
    margin-left: 10px;
    color: #f8fdfd;
    text-decoration: none;
}

nav a:hover {
    color: #cacaca;
} 