nav {
    background-color: #99bbc8;
    padding: 10px 20px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.navbar a {
    text-decoration: none;
    color: #f8fdfd;
    margin : 30px;
    transition-duration: 0.2s;
}

.navbar a:hover {  
    color: rgb(216, 232, 245);
    transition-duration: 0.2s;
}

.login-button {
    margin-left: auto;
    margin-right: 20px;
    
}

.login-button a {
    text-decoration: none;
    color: white;
    background-color: #2db5d5;
    padding: 5px 10px;
    border-radius: 5px;
    margin : 10px;
    transition-duration: 0.2s;
}

.login-button a:hover {
    background-color: #187bcd;
    transition-duration: 0.2s;
}
