
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #99bbc8;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Espace horizontal entre les boutons */
    margin-top: 30px; /* Ajustez la marge supérieure si nécessaire */
}

h1 {
    margin-bottom: 20px;
    color: #333;
    font-family: Arial, sans-serif;
}

.textarea-container {
    width: 100%;
    max-width: 500px;
    text-align: center;
}

textarea {
    margin-top: 50px;
    width: 100%;
    height: 50px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    resize: none;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.modify-date, .creation-date {
    text-align: left;
    margin-top: 2px;
    font-size: 16px;
    color: #333;
    font-family: Arial, sans-serif;

}

.modify-button, .delete-button {
    height: 50px;
    margin: 30px;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}